# Python Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Temporary db files
*.db-shm
*.db-wal

# Tokens
.google.token
.xbox-token.json

# UUID
.uuid

# Blank Files that get recreated by Home assistant
automations.yaml
customize.yaml
groups.yaml

# Other private files/patterns
known_devices.yaml
options.xml
OZW_Log.txt
pyozw.sqlite
secrets.yaml
zw*.xml
*.pickle
*.conf
*.log
*.db

# Folders
.storage/
deps/
node-red/
.ssh/
tts/

# Include Node Red flows
!node-red/flows.json
# Exclude Flows Backup
!node-red/flows.json.backup