# Python Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Temporary db files
*.db-shm
*.db-wal

# Tokens
.google.token
.xbox-token.json

# UUID
.uuid

# Blank Files that get recreated by Home assistant
automations.yaml
groups.yaml

# Other private files/patterns
known_devices.yaml
options.xml
OZW_Log.txt
pyozw.sqlite
secrets.yaml
ip_bans.yaml
zw*.xml
*.pickle
*.conf
*.log
*.db
*.backup
*.bak

# Folders
.storage/
deps/
.ssh/
/tts/
.cloud/
appdaemon/

# Remove Node Red except flows
node-red/*
# .config.json
# .sessions.json
# flows_cred.json
# node*home-assistant*.json
# package.json
# settings.js
# package-lock.json

.templates/
notebooks/
..trash/
.vscode/
.Trash-0/
tensorflow/
www/facebox/tmp/*
.ip_authenticated.yaml
blueiris.advanced_configurations.yaml
.spotify-token-cache
#node-red/flows.json
