# Python Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Temporary db files
*.db-shm
*.db-wal

# Tokens
.google.token
.xbox-token.json

# UUID
.uuid

# Blank Files that get recreated by Home assistant
automations.yaml
customize.yaml
groups.yaml

# Other private files/patterns
known_devices.yaml
options.xml
OZW_Log.txt
pyozw.sqlite
secrets.yaml
zw*.xml
*.pickle
*.conf
*.log
*.db
*.backup

# Folders
.storage/
deps/
.ssh/
tts/

# Remove Node Red except flows
node-red/.config.json
node-red/.sessions.json
node-red/flows_cred.json
node-red/node*home-assistant.json
node-red/package.json
node-red/settings.js
